.vscode/**
src/**
dist/**/*.map
tsconfig.json
eslint.config.js
.prettierrc.json
.prettierignore
*.vsix
node_modules/**
!node_modules/sql.js/dist/sql-wasm.js
!node_modules/sql.js/dist/sql-wasm.wasm
!node_modules/sql.js/package.json
package-lock.json
